<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.lnpu.cns.mapper.GuideMapper">
        <resultMap id="guideMap" type="cn.edu.lnpu.cns.bean.GuideVo">
                <id column="id" property="id"/>
                <result column="placeId" property="placeId"/>
                <result column="userId" property="userId"/>
                <result column="name" property="name"/>
                <result column="userName" property="userName"/>
                <result column="imgUrl" property="imgUrl"/>
                <result column="major" property="major"/>
                <result column="nativePlace" property="nativePlace"/>
                <result column="phone" property="phone"/>
                <result column="remark" property="remark"/>
                <result column="yn" property="yn"/>
        </resultMap>

        <insert id="insertOne" parameterType="cn.edu.lnpu.cns.bean.Guide" useGeneratedKeys="true" keyProperty="id">
                INSERT INTO guide(placeId,userId,remark,yn)
                VALUES(#{placeId},@{userId},#{remark},#{yn})
        </insert>

        <delete id="deleteGuideByUserIdAndPlaceId" parameterType="java.util.Map">
                DELETE FROM guide
                WHERE userId = #{userId} AND placeId = #{placeId}
        </delete>

        <update id="updateYnByUserIdAndPlaceId" parameterType="java.util.Map">
                UPDATE guide SET yn = #{yn}
                WHERE userId = #{userId}
                AND WHERE placeId = #{placeId}
        </update>

        <select id="findGuideCount" parameterType="java.util.Map" resultType="long">
                SELECT COUNT(u.id) FROOM guide g
                INNER JOIN place p ON g.placeId = p.id
                INNER JOIN t_user u ON g.userId = u.id
                WHERE 1 = 1
                <if test="userName != null">
                   AND u.name CONCAT('%',#{userName},'%')
                </if>
                <if test="placeNameCh != null">
                   AND p.placeNameCh LIKE CONCAT('%',#{placeNameCh},'%')
                </if>
        </select>

        <select id="findGuideListPage" parameterType="java.util.Map" resultMap="guideMap">
                SELECT g.id,p.id,u.id,u.name,u.userName,u.imgUrl,u.major,u.nativePlace,u.phone,g.remark
                FROM guide g
                INNER JOIN place p ON g.placeId = p.id
                INNER JOIN t_user u ON g.userId = u.id
                WHERE 1 = 1
                <if test="userName != null">
                        AND u.name LIKE CONCAT('%',#{userName},'%')
                </if>
                <if test="placeNameCh != null">
                        AND p.placeNameCh LIKE CONCAT('%',#{placeNameCh},'%')
                </if>
        </select>

</mapper>